/* Stylesheet for Tiger site */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Helvetica";
    background-color: lightgray;
    color: black;
}

header {
    width: 100%;
    margin: 0;
}

h1 {
    background-color: tan;
    font-size: 32px;
    text-align: center;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

#main-tiger {
    background-image: url("assets/images/siberian_tiger.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

main {
    width: 70%;
    display: inline-block;
    margin-left: 25px;
}

h1,
h2,
h3 {
    font-family: "lucida bright";
    padding-bottom: 5px;
}

#facts,
#resources,
#tiger-video {
    border: 5px solid tan;
    background-color: tan;
    margin-bottom: 20px;
    padding: 50px;
}

#tiger-video {
    width: 50%;
    text-align: center;
}

iframe {
    width: 90%;
}

.clearfix {
    overflow: auto;
}

#resources {
    width: 48%;
    text-align: center;
    float: right;
}



ul {
    list-style-type: none;
    line-height: 30px;
    text-align: center;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: white;
}

aside {
    float: right;
    clear: right;
    width: 25%;
    margin-right: 25px;
    line-height: 0;
    display: inline-block;

}

aside img {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    float: bottom;
    clear: both;
    padding-top: 20px;
    padding-bottom: 10px;
}

/*When screen is <600px wide, apply these styles*/
@media screen and (max-width:605px) {

    .container {
        vertical-align: middle;
        margin: auto;
    }

    #facts,
    #resources,
    #tiger-video {
        width: 80%;
        float: none;
        vertical-align: middle;
    }

    aside {
        float: none;
        margin-right: 0px;
    }
    
}
